@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&family=Staatliches&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}